.main-content{
    max-width: 120rem;
    margin: 0 auto;
    padding: 10rem var(--gap);
}

.main-bg {
    background-image: url("../_img/main-bg.svg");
    background-size: cover;
    background-position: center center;
    color: var(--white-color);
}

.white-bg{
    background: var(--white-color);
    color: var(--primary-color);
}

.section{
    min-height: 100vh;
}

.menu{
    background: var(--white-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
    border-bottom: 0.1rem solid var(--light-gray-color);
}

.menu-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.menu-spacing{
    height: 6.5rem;
}


body .full-widht {
    width: 100%;
    flex: 1 1 100%;
}